<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<tx:annotation-driven />
	<mvc:annotation-driven />
	<!--To specify the resource locations -->

	<mvc:resources location="/images/" mapping="/images/**" />

	<!--To specify the error pages locations -->
	<mvc:view-controller path="/error" view-name="error" />

	<!--controller and services scan -->
		<!-- Auto-detect controllers -->
	<context:component-scan base-package="com.bridgelabz.ipl.controller" />
	<context:component-scan base-package="com.bridgelabz.ipl.services" />

	<!--To specify the view components -->
		<!-- Prepend /WEB-INF/jsp/ and append .jsp to the logical view name -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	
<!-- Access resource bundles with the specified basename -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="resources/messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<!-- Pooled data source. -->
	<bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/IPL" />
		<property name="user" value="root" />
		<property name="password" value="root" />
		<property name="maxPoolSize" value="100" />
		<property name="minPoolSize" value="3" />
		<property name="maxStatements" value="4" />
	</bean>

	<!--JDBC properties -->
	<!-- <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property> 
		<property name="url" value="jdbc:mysql://localhost:3306/Ipl"></property> 
		<property name="username" value="root"></property> <property name="password" 
		value="root"></property> </bean> -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="pooledDataSource" />
		<property name="annotatedClasses">
			<list>
				<value>
					com.bridgelabz.ipl.model.User
				</value>
				<value>
					com.bridgelabz.ipl.model.Team
				</value>
				<value>
					com.bridgelabz.ipl.model.Player
				</value>
			</list>
		</property>


		<!--Hibernate properties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect"> org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<!--userDao depedency injection -->
	<bean id="userDao" class="com.bridgelabz.ipl.daoImpl.UserDaoImpl"></bean>

	<!--userServices depedency injection -->
	<bean id="userService" class="com.bridgelabz.ipl.serviceImpl.UserServiceImpl"></bean>

	<!--teamDao depedency injection -->
	<bean id="teamDao" class="com.bridgelabz.ipl.daoImpl.TeamDaoImpl"></bean>

	<!--teamService injection -->
	<bean id="teamService" class="com.bridgelabz.ipl.serviceImpl.TeamServiceImpl"></bean>

	<!--playerDao depedency injection -->
	<bean id="playerDao" class="com.bridgelabz.ipl.daoImpl.PlayerDaoImpl"></bean>

	<!--playerService depedency injection -->
	<bean id="playerService" class="com.bridgelabz.ipl.serviceImpl.PlayerServiceImpl"></bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


<!-- The java mail API injection -->

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="username" value="*********" />
		<property name="password" value="****************" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.port">465</prop>
			</props>
		</property>
	</bean>
	<bean id="mail" class="com.bridgelabz.ipl.email.Mail">
		<property name="mailSender" ref="mailSender" />
	</bean>

</beans>